*, *::before, *::after {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box; /* always use this */
}

.title {
    color: #415B89;
    word-break: break-all;
}

p {
    text-indent: 15px;
    text-align: center;
    word-break: normal;
    color: #6D4534;
    /* rule order was wrong */
    padding: 5px;
    padding-bottom: 15px;
}

img {
    max-width: 100%;
    margin: .4rem;
    border-radius: 8px;
    box-shadow: 0 0 2rem 0 #ff2a2aa8;
}

a {
    text-decoration: none
}

.coz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

code {
    margin-bottom: 4rem;
    font-family: monospace;
}

.btn {
    display: inline-block;
    padding: .6rem .8rem;
    border: 1px solid cyan;
    transition: all .3s ease;
}

.btn:hover {
    border-radius: 8px;
    background-color: lightblue;
    color: #000000;
}